.wrapper {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  font-size: 0.9rem;
}

.wrapper a,
.wrapper label {
  cursor: pointer;
}

.card {
  display: block;
  margin-bottom: 10px;
  width: 147px !important;
  height: 138px !important;
  padding: 10px;
  border-radius: 3px;
  background-color: #eee;
  word-break: break-all;
  word-wrap: break-word;
}

.card > section {
  display: flex;
  flex-direction: column;
}

.card > section > label {
  display: block;
  color: #000;
  height: 120px;
  font-weight: bold;
}

.card > section > small {
  text-align: right;
}

.title {
  display: block;
}
